<div class="footer">
  <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon">
  <!-- General stylesheet -->
  <link rel="stylesheet" href="footer.css" type="text/css">
    <div class="left">
      <a href="/" style="color:#995BBD; font-size: 32px; font-weight:450;">Tsuyo</a>
      <p>© Copyright 2020 Tsuyo Inc.</p>
    </div>
</div>