<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta property="og:type" content="website">
  <meta property="og:image" content="https://cdn.glitch.com/1654f0f1-6c26-4af8-9359-621c155eff8d%2FpikaOh.png">
  <meta property="og:title" content="Cytrus Dashboard">
  <meta property="og:image:width" content="300">
  <meta property="og:description" content="A multipurpose bot to cover all your needs.">
  <meta property="og:image:height" content="300">
  <meta property="og:url" content="https://app.cytrus.ga/">
  
  <title>Cytrus | Dashboard</title>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

    html {
      height: 100%;
    }
    
    body {
      background-color: #2C2F33;
      margin: 0 0;
      height: 100%;
      padding: 0 0;
    }

    .page-content {
      padding: 4px 42px;
    }

    .page-content h1 {
      margin-bottom: -10px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: #ffffff;
    }

    p, a, .toolelem .tooltext {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #ffffff;
    }

    .navbar {
      background: #23272A;
      padding: 21px 42px;
    }

    .navbar a {
      transition: .25s ease;
      color: #ffffff;
      text-decoration: none;
    }

    .navbar a:hover {
      color: #7792f3;
    }

    .navbar a:not(:last-child) {
      margin-right: 12px;
    }

    .navbar .right {
      float: right;
    }
    
    .toolelem {
      position: relative;
      display: inline-block;
    }

    .toolelem .tooltext {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }

    .toolelem:hover .tooltext {
      visibility: visible;
      transition: 0.6s;
      opacity: 1;
    }
    
    #configsavechanges {
      background-color: #7289DA;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  </style>
</head>