<div class="navbar">
  <title>Tsuyo - A community-built Discord bot.</title>
  <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon">
  <!-- General stylesheet -->
  <link rel="stylesheet" href="navbar.css" type="text/css">
    <div class="left"><a href="/" style="color:#995BBD; font-weight:450;">Tsuyo</a>
        <a href="http://tsuyo.xyz/about">About</a>
        <a target="_blank" href="https://github.com/ddinan/Tsuyo">GitHub</a>
        <a target="_blank" href="https://discord.gg/3hbeQgY">Support Server</a>
    </div>

    <div class="right">
        <% if (user) { %>
            <a href="http://tsuyo.xyz/me"><%- user.username + "#" + user.tag %></a>

            <a href="http://tsuyo.xyz/servers">Manage Servers</a>
            <a class="logout" href="http://tsuyo.xyz/authorize/logout">Logout</a>
        <% } else { %>
            <a class="login" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=492871769485475840&redirect_uri=http%3A%2F%2Ftsuyo.xyz%2Fauthorize%2Fcallback&response_type=code&scope=identify%20guilds">Login</a>
        <% } %>
    </div>

    <% if (user) { %>
        <a href="http://tsuyo.xyz/me"><img class="pfp" src="<%- user.avatarURL %>"></a>
    <% } else {
            // Display default profile picture
         }
    %>
</div>
