<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

    <div class="page-content">
      <%- include('partials/servers.ejs') %>
    </div>
</body>
</html>